<p style="color: green"><%= notice %></p>
<div class="card mb-7" style="max-width: 800px; margin: auto; padding: 50px; align-text: center">
  <div class="row no-gutters">
    <div class="col-md-8">
      <h1>Resumenes medicos diarios</h1>
      <div class="button-summaries" style="paddin: 50px">
        <button type="button" class="btn btn-success"><%= link_to "Nuevo reporte", new_summary_path %></button><br>
      </div>
      <br>
      <div class="card" id="summaries">
        <div class="card-body">
          <% @summaries.each do |summary| %>
            <%= render summary %>
            <p>
              <%= link_to "Show this summary", summary %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
